<h1>Vista Login</h1>

<form action="/api/sessions/login" method="post">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Login</button>
</form>

<p>Olvido su contraseña? Ingrese <a href="/views/sendrecoverymail">Aqui</a></p>
<p>Nuevo usuario? <a href="/views/register">Registrate!</a></p>
<a href="/api/sessions/githubestra">Login with GitHub</a>