<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Membrecy</title>
</head>
<body>
    <h1>User</h1>
    <form action="/api/users/premium" method="post" id="premiumForm">
        <label for="membership">Membership:</label>
        <input type="text" id="uidInput" placeholder="Ingrese el id de usuario">
        <button type="submit">Cambiar</button>
    </form>
</body>
<script src="/js/premiumUser.js"></script>
</html>